<div class="container">

   <!-- example 1 -->
   <details *ngIf="example1UserData.length > 0; else example1Loading">
      <summary>Example 1 : Sub/unsub, ngIf/else, ngFor (nested)</summary>
      <ul>
         <li *ngFor="let u of example1UserData">{{ u.name }}</li>
      </ul>
   </details>
   <ng-template #example1Loading>Example 1 Loading...</ng-template>

   <!-- example 2 -->
   <details *ngIf="example2UserData$ | async as eg2; else example2Loading">
      <summary>Example 2 : ngIf/else, ngFor (nested)</summary>
      <ul>
         <li *ngFor="let u of eg2">{{ u.name }}</li>
      </ul>
   </details>
   <ng-template #example2Loading>Example 2 Loading...</ng-template>

   <h3>Resources</h3>
   <ul>
      <li><a href="https://bobbyhadz.com/blog/typescript-property-does-not-exist-on-type-never" target="_blank"
            rel="noopener noreferrer">ngFor - type never error</a></li>
   </ul>
</div>