<div class="container">

   <details>
      <summary>Example 1 : Sub/unsub, ngIf/else, ngFor (nested)</summary>
      <ul *ngIf="example1userData.length > 0; else loading">
         <li *ngFor="let u of example1userData">{{ u.name }}</li>
      </ul>
   </details>

   <ng-template #loading>Loading...</ng-template>

   <h3>Resources</h3>
   <ul>
      <li><a href="https://bobbyhadz.com/blog/typescript-property-does-not-exist-on-type-never" target="_blank"
            rel="noopener noreferrer">ngFor - type never error</a></li>
   </ul>
</div>